@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form class="row mt-5 mb-2">
    @{
        foreach (var proj in Model.AllProjects)
        {
            <div class="col-lg-4">
                <img src="@proj.Img" height="200" alt="@proj.Name" />
                <h2>@proj.Name</h2>
                <p>Desc: @proj.LongDescription</p>
            </div>
        }
    }
</form>